.mobileHeader {
    display: flex;
    justify-content: center;
    position: fixed;

    padding: 15px 0;
    gap: 16px;

    width: 100%;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    background: #1e1e1e;

    color: #e4e5ea;
    z-index: 3;
}
