.mobileHeader {
    display: flex;
    position: fixed;

    padding: 15px 20px;
    gap: 16px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    background: #1e1e1e;

    color: #e4e5ea;
}
