.mainScreen {
    position: relative;
    margin-top: 55px;
    padding: 40px 0 0 14px;
    overflow: hidden;
}

.topBlock {
    margin-bottom: 45px;
}
.topBlock span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;

    background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.topBlock p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #e4e5ea;

    margin: 0;
}

.topBlock .descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #e4e5ea;
    margin-top: 15px;
}

.bottomBlock span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: transparent;
    background-clip: text;

    background-image: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%),
        linear-gradient(0deg, #e4e5ea, #e4e5ea);
}
.bottomBlock p {
    color: #e4e5ea;
}
.bottomBlock ul {
    display: flex;
    gap: 25px;
    padding-left: 15px;
}

.bottomBlock li {
    list-style: none;
    text-indent: -1em;

    width: 125px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #e4e5ea;
}

.bottomBlock li::before {
    content: "\2013";
    padding-right: 5px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
}

.MobilePurpleLight {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 258px;
    top: 107px;

    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
}
.MobileRedLight {
    position: absolute;
    width: 211px;
    height: 210px;
    left: -55px;
    top: 241px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
}
.MobileYellowLight {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -66px;
    top: 519px;

    background: #fcb045;
    opacity: 0.4;
    filter: blur(196px);
}
.MobilePurpleBall {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 296px;
    top: 236px;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(236, 208, 255, 0.64) 0%,
        rgba(161, 93, 207, 0.24) 59.67%,
        rgba(118, 49, 164, 0.208) 78.59%,
        rgba(86, 24, 128, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    border-radius: 100%;
}
.MobileRedBall {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 29px;
    top: 402px;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.536) 0%,
        rgba(212, 93, 93, 0.264) 59.67%,
        rgba(167, 49, 49, 0.248) 78.59%,
        rgba(130, 25, 25, 0.248) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(4px);

    border-radius: 100%;
}
